<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExpenseTracker2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD91DA5D1F28E61300FB7494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD91DA741F28E61400FB7494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD91DA7F1F28E61400FB7494</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
